body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

header {
  background: #1e1e2f;
  color: white;
  padding: 30px;
}

.projetos {
  margin: 40px;
}

.projetos a {
  display: block;
  margin: 15px auto;
  padding: 15px;
  width: 300px;
  background: #4f46e5;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.projetos a:hover {
  background: #3730a3;
}

footer {
  margin-top: 50px;
  color: #555;
}
